/* ------------ Corporate Culture ------------ */
.corporate-culture__card {
  background: var(--background-color);
  padding: 32px 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 3px 6px #0000003d;
  border-radius: 24px;
  flex-basis: 100%;
}

.corporate-culture__card-icon {
  background: white;
  padding: 12px;
  display: flex;
  border-radius: 50%;
  margin: auto;
}

.corporate-culture__card-icon svg {
  width: 40px;
  height: 40px;
}

.corporate-culture__card-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.corporate-culture__card-text {
  margin: 0;
  font-weight: 300;
}

/* ------------ /end Corporate Culture ------------ */


/* ------------ Product ------------ */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 24px;
  padding: 0 32px 12px;
}

.product-card__title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
}

.product-card__prescription {
  text-transform: uppercase;
}

.product-card__text {
  margin: 12px 0;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-card--horizontal .product-card__text {
  display: block;
  overflow: visible;
}

.product-card__icon {
  margin-left: auto;
  color: white;
  background: var(--main-color);
  padding: 4px;
  border-radius: 50%;
  font-size: 18px;
  transform: translateX(12px);
}

/* RX card */
.product-card--rx {
  border: 1px solid var(--secondary-color);
}

.product-card--rx .product-card__prescription {
  color: var(--secondary-color);
}

.product-card--rx .product-card__icon {
  background-color: var(--secondary-color);
}

/* OTC card */
.product-card--otc {
  border: 1px solid var(--main-color);
}

.product-card--otc .product-card__prescription {
  color: var(--main-color);
}

.product-card--otc .product-card__icon {
  background-color: var(--main-color);
}

/* Horizontal card */
.product-card--horizontal {
  flex-direction: row;
  gap: 40px;
  margin-top: 32px;
  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  border: none;
}

.product-card--horizontal .product-card__image-container {
  flex-basis: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid;
}

.product-card--horizontal.product-card--rx .product-card__image-container {
  border-color: var(--secondary-color);
}

.product-card--horizontal.product-card--otc .product-card__image-container {
  border-color: var(--main-color);
}

.product-card--horizontal .product-card__image {
  width: 70%;
}

.product-card--horizontal .product-card__text-conent {
  flex-basis: 50%;
}

/* ------------ /end Product ------------ */
