/* ------------ Main styles ------------ */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
}

:root {
  /* --main-color: #fe9365; */
  --main-color: #0190CC;
  --secondary-color: #404e67;
  --success-color: #3cc997;
  /* --danger-color: #e91e63; */
  --danger-color: #F02137;
  --title-color: #303548;
  --text-color: #404e67;
  --theme-border-radius: 6px;
}

::-moz-selection {
  color: white;
  background: var(--secondary-color);
}

::selection {
  color: white;
  background: var(--secondary-color);
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.rounded {
  border-radius: 50%;
}

.styled-block {
  background-color: white;
  border-radius: var(--theme-border-radius);
  -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}

.main-title {
  margin: 0;
  font-size: 16px;
  color: var(--title-color);
}

/* ------------ /end Main styles ------------ */


/* ------------ Buttons ------------ */
.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: var(--theme-border-radius);
  transition: 0.3s;
}

.button span {
  font-size: 20px;
}

.button--rounded {
  border-radius: 50%;
}

.button--main {
  background-color: var(--main-color);
}

.button--main:hover {
  box-shadow: 0 0 12px var(--main-color);
}

.button--secondary {
  background-color: var(--secondary-color);
}

.button--secondary:hover {
  box-shadow: 0 0 12px var(--secondary-color);
}

.button--danger {
  background-color: var(--danger-color);
}

.button--danger:hover {
  box-shadow: 0 0 12px var(--danger-color);
}

.button--success {
  background-color: var(--success-color);
}

.button--success:hover {
  box-shadow: 0 0 12px var(--success-color);
}

/* ------------ /end Buttons ------------ */


/* ------------ Pagination ------------ */
.pagination {
  margin-top: 30px;
  justify-content: center;
  font-size: 15px;
}

.page-link {
  color: var(--text-color);
  border-color: #0000001f;
}

.page-link:hover {
  color: var(--text-color);
  background-color: #f4f8ff;
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.page-item.active .page-link:hover {
  color: white;
}

/* ------------ /end Pagination ------------ */


/* ------------ Main tag ------------ */
.main {
  width: 100%;
  min-height: 100vh;
  padding: 52px 0 50px 220px;
  background: #f4fbff;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.body_without_aside .main {
  padding-left: 0;
}

/* ------------ /end Main tag ------------ */


/* ------------ Header ------------ */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  height: 52px;
  background: white;
  -webkit-box-shadow: 0 0 4px 0 #272c4a42;
  box-shadow: 0 0 4px 0 #272c4a42;
}

.header__toggler-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  min-width: 220px;
  height: 100%;
  padding: 12px 12px 12px 24px;
  color: white;
  background-color: #3a4146;
}

.header__site-name {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}

.header__site-name::first-letter {
  font-size: 22px;
  font-weight: bolder;
  line-height: 16px;
  color: var(--main-color);
}

.aside-toggler {
  padding: 4px;
  color: white;
  background-color: transparent;
  border: none;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: calc(100% - 220px);
  padding: 0 32px;
}

.header__breadcrumbs {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
}

.header__breadcrumbs li::before {
  content: '/ ';
}

.header__breadcrumbs li:first-child::before {
  content: none;
}

.header__breadcrumbs a {
  color: var(--main-color);
}

.header__actions {
  display: flex;
  gap: 28px;
  min-width: max-content;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.header__actions a,
.header__actions button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

.header__actions span {
  color: var(--danger-color);
  font-size: 20px;
}

/* ------------ /end Header ------------ */


/* ------------ Aside ------------ */
.aside {
  position: fixed;
  z-index: 20;
  top: 52px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 220px;
  height: calc(100vh - 52px);
  color: #dcdcdc;
  background: #4a5864;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.body_without_aside .aside {
  transform: translateX(-100%);
}

.aside__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aside__menu-item {
  display: flex;
}

.aside__menu-title {
  padding: 24px 20px 8px;
  margin: 0;
  font-size: 14px;
  color: #999;
}

.aside__menu-link,
.aside__menu-button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: #dcdcdc;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: 0.3s;
}

.aside__menu-link.active,
.aside__menu-link:hover,
.aside__menu-button:hover {
  color: white;
}

.aside__menu-link::before,
.aside__menu-button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  content: '';
  background-color: #ffffff38;
  transition: 0.3s;
}

.aside__menu-link.active::before {
  width: 100%;
  background-color: var(--main-color);
}

.aside__menu-link:hover::before,
.aside__menu-button:hover::before {
  width: 100%;
}

.aside__menu-item .material-icons-outlined {
  font-size: 20px;
}

.aside__menu-item form {
  width: 100%;
}

/* ------------ /end Aside ------------ */


/* ------------ Search ------------ */
.search-container {
  width: 100%;
}

.search-container__inner {
  padding: 0 32px;
  margin: 26px 0 -16px;
}

/* ------------ /end Search ------------ */


/* ------------ Main Table ------------ */
.main-table-container__inner {
  margin: 32px;
}

.main-table {
  width: 100%;
  background-color: white;
  border: 1px solid #0000001f;
}

.main-table th {
  padding-top: 14px;
  padding-bottom: 14px;
}

.main-table th a {
  display: flex;
  gap: 4px;
  width: max-content;
  text-decoration: none;
  color: var(--text-color);
}

.main-table th a.asc::after {
  font-family: "Material Icons";
  content: "\e5d8";
  opacity: 0;
  transition: 0.3s;
}

.main-table th a.desc::after {
  font-family: "Material Icons";
  content: "\e5db";
  opacity: 0;
  transition: 0.3s;
}

.main-table th a.active::after {
  opacity: 1;
}

.main-table tr {
  border-bottom: 1px solid #0000001f;
}

.main-table tr:hover {
  background-color: #f1f1f1;
}

.main-table thead tr:hover {
  background: white;
}

.main-table td {
  vertical-align: top;
}

.table-source-link {
  color: var(--danger-color);
  font-weight: 500;
}

.table-source-link:hover {
  color: var(--danger-color);
}

.main-table td img {
  border-radius: var(--theme-border-radius);
}

.table__actions {
  display: flex;
  gap: 4px;
}

.table__actions a,
.table__actions button {
  padding: 8px;
}

.table__actions a:hover {
  color: white;
}

.table__actions span {
  font-size: 20px;
}

/* ------------ /end Main Table ------------ */


/* ------------ Main Form ------------ */
.main-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 920px;
  padding: 32px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 32px;
  background-color: white;
  border-radius: var(--theme-border-radius);
}

.form-title {
  margin: 0;
  font-size: 16px;
  color: var(--danger-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.form-label {
  margin: 0;
  font-weight: 600;
  font-style: italic;
}

.form-label.required::after {
  content: " *";
  color: var(--danger-color);
}

.form-input,
.form-textarea {
  padding: 10px 12px;
  line-height: 1.5;
  border: 1px solid #0000001f;
  border-radius: var(--theme-border-radius);
}

.form-input[type=text]:read-only {
  background-color: #efefef;
}

.form-image {
  width: 400px;
  border: 8px solid #F4F6F9;
  border-radius: var(--theme-border-radius);
}

.form-actions {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-actions button {
  min-height: 42px;
  flex-basis: 100%;
  justify-content: center;
  font-size: 13px;
  text-transform: uppercase;
  padding: 11px;
}

/* ------------ /end Main Form ------------ */


/* ------------ Alert ------------ */
.alert {
  padding: 12px 32px;
  margin: 0;
  font-size: 14px;
  border-radius: 0;
}
.alert-warning {
  color: black;
}
/* ------------ /end Alert ------------ */


/* ------------ /end Alert ------------ */
.errors {
  padding: 16px 32px;
  color: #761a22;
  background-color: #ffd9e6;
  border-color: #ffd9e6;
}
.errors__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}
.errors__title span {
  font-size: 20px;
  transform: translateY(-2px);
}
.errors__list {
  padding-left: 20px;
  margin: 0;
}
/* ------------ /end Alert ------------ */


/* ------------ Simditor ------------ */
.simditor {
  border-radius: var(--theme-border-radius);
}

.simditor .simditor-body,
.editor-style {
  padding: 16px 12px 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

/* ------------ /end Simditor ------------ */


/* ------------ Spinner ------------ */
.spinner {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  background-color: #f5f5f5d1;
}

.spinner--hidden {
  display: none;
}

.spinner-border {
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: var(--danger-color) !important;
}

.spinner-text {
  margin: 32px 0 0;
  font-family: monospace;
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

/* ------------ /end Spinner ------------ */


/* ------------ File Input ------------ */
input[type="file"] {
  position: relative;
  background: white;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"]:after {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  align-items: center;
  display: flex;
  padding: 0px 20px;
  content: "Обзор...";
  font-weight: 400;
  color: black;
  background: #f7f7f7;
}

/* ------------ /end File Input ------------ */


/* ------------ Selectize ------------ */
.selectize-input {
  padding: 12px;
  border-color: #0000001f;
  box-shadow: none;
  transition: 0.3s;
}

.selectize-dropdown-content {
  max-height: 180px;
}

.selectize-input.input-active {
  border-color: #d0d0d0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
}

.selectize-dropdown .option {
  padding: 6px 12px;
  font-size: 15px;
}

/* ------------ /end Selectize ------------ */


/* ------------ Checkbox ------------ */
.checkbox {
  position: relative;
}

.checkbox label {
  left: 10px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  margin-top: 10px;
  margin-bottom: 12px !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox span {
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #989898;
  border-radius: 3px;
}

.checkbox input:checked~span {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.checkbox span:after {
  position: absolute;
  top: 2px;
  left: 5px;
  display: none;
  width: 5px;
  height: 10px;
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input:checked~span:after {
  display: block;
}

/* ------------ /end Checkbox ------------ */


@media screen and (max-width: 1600px)
{
  .body {
    font-size: 13px;
  }
  .header {
    height: 44px;
  }
  .header__toggler-container {
    width: 180px;
    min-width: 180px
  }
  .header__site-name {
    font-size: 15px;
  }
  .header__site-name::first-letter {
    font-size: 18px;
  }
  .aside-toggler span {
    font-size: 20px;
  }
  .header__body {
    width: calc(100% - 180px);
    padding: 0 20px;
  }
  .header__breadcrumbs {
    font-size: 14px;
  }
  .header__actions a, .header__actions button {
    font-size: 11px;
  }
  .aside {
    top: 44px;
    height: calc(100vh - 44px);
    max-width: 180px;
  }
  .aside__menu-title {
    padding: 20px 12px 8px;
    font-size: 13px;
  }
  .aside__menu-link, .aside__menu-button {
    padding: 6px 12px;
    font-size: 13px;
    gap: 10px;
  }
  .aside__menu-item .material-icons-outlined {
    font-size: 18px;
  }
  .main {
    padding: 44px 0 40px 180px;
  }
  .search-container__inner {
    padding: 0 20px;
    margin: 12px 0 -16px;
  }
  .main-table-container__inner {
    margin: 20px;
  }
  .table__actions a, .table__actions button {
    padding: 6px;
  }
  .table__actions span {
    font-size: 18px;
  }
  .selectize-input {
    padding: 8px 12px;
  }
  .selectize-dropdown .option {
    padding: 4px 12px;
    font-size: 13px;
  }
  .pagination {
    margin-top: 20px;
    justify-content: center;
    font-size: 13px;
  }
  .main-form {
    gap: 20px;
    padding: 20px;
  }
  .form-section {
    padding: 20px;
  }
  .form-title {
    font-size: 15px;
  }
  .form-group {
    font-size: 13px;
  }
  .form-actions button {
    min-height: 36px;
    font-size: 12px;
    padding: 8px;
  }
  .alert {
    font-size: 13px;
    padding: 12px 20px;
  }

}
